.test{
    color: red;
}

.background_pic{
    background-image: url(john-looy-X3DZ1c7MPa4-unsplash.png);
    height: 700px;
    padding-top: 20px;
}

.image{
    height: 700px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: relative;
}

#nav-bar{
    height: 115px;
    width: 100%;
    left: 88px;
    top: 64px;
    border-radius: 2px; 
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#row-titles {
    display: flex;
    flex-direction: row;
}

.logo {
    height: 55px;
    width: 115px;
    margin-left: 10px;
    margin-right: 10px;

}

.nav_bar_text{
    font-size: 12px;
}

#nav_bar_divs{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_bar_firstrow{
    display: flex;
    align-items: flex-start;
}